.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
  
.modal_content {
    background-color: var(--white-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--gray-color);
    width: 100%;
    max-width: 600px;
}
  
.close_btn {
    color: var(--gray-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.close_btn:hover,
.close_btn:focus {
    color: var(--red-color);
}
  
.video_container {
    text-align: center;
}
  