@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Work Sans", sans-serif;
}

:root {
    --white-color: #fefefe;
    --gray-color: #d9d9d9;
    --black-color: #000000;
    --dark-blue-color: #161b22;
    --money-green-color: #118b4e;
    --orange-color: #f08804;
    --red-color: #f10707;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}




header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    width: 100%;
    height: 6rem;
    background-color: var(--dark-blue-color);
    color: var(--white-color);
    z-index: 100;
}

.navigation_list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.navigation_list a {
    color: var(--white-color);
}




#store_content_container {
    display: flex;
    width: 100%;
}

.filter_container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 2rem;
    width: 20rem;
    height: 100vh;
    gap: 4rem;
    border-right: 2px solid var(--gray-color);
    background-color: var(--white-color);
    color: var(--black-color);
}

.filter_container__section {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.book_container__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 4rem;
    padding: 0 5rem;
    width: 100%;
}

.book {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28rem;
    gap: 0.6rem;
    border: 2px solid var(--gray-color);
    border-radius: 0.5rem;
}

.book__image {
    object-fit: contain;
    width: 100%;
    height: 70%;
    padding-top: 0.6rem;
    cursor: pointer;
}

.book__informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0.6rem 0.6rem 0.6rem;
    width: 100%;
    height: 30%;
}

.book__informations footer {
    display: flex;
    justify-content: space-between;
}
.amazon_link {
    color: var(--orange-color);
}

.book__price {
    color: var(--money-green-color);
}
